<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Hello Thymeleaf!!</h1>
<p><a href="hithymeleaf">hithymeleaf.html</a></p>
<p><a href="literal">literal.html</a></p>
<p><a href="variable">variable.html</a></p>
<p><a href="operation">operation.html</a></p>

<p><a href="text_basic">text-basic.html</a></p>
<p><a href="attribute">attribute.html</a></p>
<p><a href="ifcondition">ifcondition.html</a></p>
<p><a href="condition">condition.html</a></p>
<p><a href="each">each.html</a></p>
<p><a href="block">block.html</a></p>
<p><a href="link">link.html</a></p>
<p><a href="basicobjects">basicobjects.html(파라메타X)</a></p>
<p><a href="basicobjects?paramData=Good">basicobjects.html(파라메타O)</a></p>
<p><a href="fragmentMain1">fragmentMain1.html</a></p>
<p><a href="fragmentMain2">fragmentMain2.html</a></p>
</body>
</html>
