<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>if</h1>
<h3 th:text="시청불가" th:if="${age < 19}"></h3>
<h3 th:text="시청불가" th:if="${age lt 19}"></h3>

<hr>
<h1>unless</h1>
<h3 th:text="시청불가" th:unless="${age > 19}">시청가능</h3>
<p>조건이 거짓일때 수행하는, 리액트에서 '조건 ||'은 타임리프에서 '조건 ?:'와 같다</p>
</body>

<hr>
<ul th:if="${movie == '베놈'}">
	<li>글레디에이터</li>
	<li>베놈</li>
	<li>탑건</li>
</ul>

<hr>
<th:block th:if="${today}"> 
	<h2>수요일에는 빨간 장미를 ~~~~ </h2>
	<h3>1주일의 가운데이다</h3>
</th:block>
</html>