<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/user.css"> 
</head>
<body>
	<div id="wrap">
		<a href="/spring"><img alt="gif였네" src="../image/img1.gif" width="50" height="50"></a>	
	    <div id="Formwrap">
	        <form name="userWriteForm" id="userWriteForm" method="post" th:action="@{/user/write2}">
	            <div id="inputwrap">
	                <div id="namewrap">
	                    <div>이름 : </div>
	                    <input type="text" id="name" name="name" value="${userDTO.name}"/>
	                    <div id="nameDiv"></div>
	                </div>
	                <div id="idwrap">
	                    <div>아이디 : </div>
	                    <input type="text" id="id" name="id" value="${userDTO.id}"/>
	                    <div id="idDiv"></div>
	                </div>
	                <div id="pwdwrap">
	                    <div>비밀번호 : </div>
	                    <input type="text" id="pwd" name="pwd" value="${userDTO.pwd}"/>
	                    <div id="pwdDiv"></div>
	                </div>
	                <div id="btnwrap">
	                    <input id="updateBtn" type="button" value="수정"/>
	                </div>
	                <div id="resetwrap">
	                    <input id="deleteBtn" type="button" value="삭제"/>
	                </div>
	            </div>
	        </form>
	    </div>
	</div>
</body>
</html>